* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Inter', sans-serif;
    background: #fff;
    color: #111;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    padding-left: 4rem;
    padding-right: 4rem;
    align-items: center;
    margin-top: 2rem;
  }
  
  .logo {
    font-weight: 500;
    font-size: 36px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
  }
  
  nav ul li {
    margin-right: 30px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    transition: color 0.3s ease, text-shadow 0.3s ease;
  }

  nav ul li:hover {
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  nav ul li.active {
    font-weight: bold;
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  nav ul li a {
    text-decoration: none;
    color: inherit; 
  }
  
  main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 40px;
  }
  
  .text-section {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 40px;
  }
  
  .text-section h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .text-section p {
    flex-direction: column;
    margin-left: 20px;
    margin-top: 30px;
    line-height: 1.6;
    font-size: 1.1rem;
    width: 100%;
  }
  
  .social-icons {
    width: 50%;
    margin-left: 20px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
  }
  
  .image-section {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
  }
  
  .r-circle {
    position: absolute;
    margin-right: 10rem;
    margin-top: 10rem;
    width: 35rem;
    height: 35rem;
    border-radius: 50%;
    background-color: #E6E1E1;
    z-index: 1;
  }
  
  .l-circle {
    position: absolute;
    margin-left: 10rem;
    margin-bottom: 10rem;
    width: 35rem;
    height: 35rem;
    border-radius: 50%;
    background-color: #E6E1E1;
    z-index: 1;
  }
  
  .profile-img {
    position: relative;
    width: 35rem;
    height: 35rem;
    object-fit: cover;
    border-radius: 50%;
    z-index: 3;
  }
  
  .body-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
  }

  .page2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 40px;
    padding-left: 60px;
    padding-right: 60px;
    gap: 20px;
  }

  .project{
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    background-color: #E6E1E1;
    width: 100%;
  }

  .project-image{
    width: 15%;
    display: flex;
    align-items: center;
    margin-left: 15px;
  }

  .project-img {
    width: 210px;
    height: 210px;
    border-radius: 25px;
  }

  .project-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    padding: 5px 20px 5px 20px;
  }

  footer {
    width: 40%;
    padding-left: 50px;
  }

  .project-title {
      font-size: 2.2rem;
      font-weight: 600;
      text-decoration: none;
      color: inherit; 
  }

  .project-content a{
    text-decoration: none;
    color: inherit; 
}

  .project-description {
    font-size: 1.2rem;    
  }


  .project-description ul {
    padding: 10px 30px;  
  }

  .page3 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 40px;
    padding-left: 60px;
    padding-right: 60px;
    gap: 40px;
  }

  .experiance {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E6E1E1;
    padding: 20px;
    width: 50%;
    border-radius: 30px;
    gap: 20px;
  }

  .experiance-header {
    font-size: 2.5rem;
    font-weight: 600;
  }

  .experiance-title {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .experiance-sub-title {
    font-size: 0.9rem;
    color: #555555;
  }

  .experiance-company {
    font-size: 1.2rem;
    margin: 5px 0px;
  }

  .interest {
    background-color: red;
    width: 50%;
    border-radius: 30px;
  }

  .experiance-body {
    background-color: white;
    display: flex;
    gap: 10px;
    border-radius: 30px;
  }

  .experiance-body a{
    text-decoration: none;
    color: inherit; 
  }

  .experiance-image{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .experiance-content {
    padding: 20px;
  }

  .experiance-img {
    margin-left: 10px;
    width: 165px;
    height: 165px;
    border-radius: 25px;
  }
